.apartment_head {
  display: flex;
  margin-bottom: 1rem;
  .apartment_title {
    flex-grow: 1;
  }
  .apartment_owner_details {
    display: flex;
    gap: 0.5rem;
  }
  .apartment_owner_badge {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
  }
  .apartment_owner_stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    .on {
      color: #ff6060;
    }
    .off {
      color: white;
    }
    h1 {
      font-weight: 400;
      line-height: normal;
      margin-block: 0;
    }
    h2 {
      font-weight: 400;
      margin-top: 0.5em;
      margin-bottom: 0.2em;
      font-size: 20px;
    }

    & > * {
      border: solid #ff6060;
    }
    h3 {
      margin-block: 0;
      display: grid;
      align-items: end;
      font-weight: 400;
    }
  }
  .apartment_tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;
    span {
      background-color: #ff6060;
      color: white;
      padding: 0.3em 0.5em;
      border-radius: 0.7rem;
      text-align: center;
    }
  }
}
